DB_PASSWORD=12345678
DB_HOST=database
DB_PORT=5432
DB_USERNAME=postgres
DB_DATABASE=merchant_pulse
DB_SYNCHRONIZE=false
JWT_SECRET=replace-with-a-long-random-secret
APP_PORT=5173
CLOUDFLARE_NETWORK=cloudflared
INTERNAL_NETWORK=nicepay_integration_internal
